* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}


/* contenitore principale */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( to bottom, #009688 0vh, #009688 15vh, #dadbd3 15vh, #dadbd3 100%);
}

.container {
    width: 80%;
    height: 90%;
    margin: 20px auto;
    display: flex;
    background-color: white;
}


/* sezione dei contatti */

.contact {
    width: 35%;
    height: 100%;
}

.research {
    display: flex;
    height: 60px;
    background-color: white;
}

.image,
.name-chat {
    display: flex;
    align-items: center;
    width: 50%;
}

#icon-myaccount,
.icon-chat {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

#icon-myaccount i,
.contact-research i,
.icon-chat i {
    margin-right: 1em;
    opacity: 0.3;
}

.my-account {
    display: flex;
    flex-direction: column;
}

.notification {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    height: 80px;
}

.fas.fa-bell-slash {
    background-color: white;
    border-radius: 50px;
    font-size: 0.8em;
    padding: 1em 0.8em;
    color: #8edafc;
    margin: 0 8px;
}

.notification a {
    color: black;
    opacity: 0.3;
    font-size: 0.8em;
}

.research,
.top-chat {
    height: 70px;
    background-color: #eaeaea;
}

#research-contact {
    border: 0px;
    width: 100%;
    font-size: 0.7em;
}

.contact-research {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: white;
}

.search-icon {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.search_input {
    padding: 5px 10px;
    border: 0;
}

.myaccount-contact {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.contact-text h3,
.contact-text small {
    font-size: 0.8em;
}

.contact-text small {
    opacity: 0.4;
}

.main-text {
    display: flex;
    justify-content: space-between;
}

.contact-text {
    flex-grow: 1;
}


/* sezione chat */

.chat {
    width: 65%;
    height: 100%;
}

img {
    height: 50px;
    border-radius: 25px;
}

.top-chat {
    display: flex;
}


/* contenuto chat */

.content-chat {
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 10px;
}

.message {
    display: flex;
}

.message-box {
    min-width: 150px;
    max-width: 60%;
    padding: 10px;
    border-radius: 5px;
}

.message-time {
    opacity: 0.4;
    font-size: 0.8rem;
    text-align: end;
}

.message--sent {
    justify-content: flex-end;
    margin-bottom: 1em;
}

.message-received {
    justify-content: flex-start;
}

.message--sent .message-box {
    background-color: #d5f9ba;
}

.message--received .message-box {
    background-color: white;
}


/* footer della sezione chat */

.footer-chat {
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background-color: #eaeaea;
}

.emoction,
.vocal {
    width: 5%;
    display: flex;
    justify-content: center;
    opacity: 0.4;
}

.message-insert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.message-insert input {
    width: 90%;
    height: 80%;
}